<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">CsvToMongo</a>
    </nav>
    <div class="container">
        <div class=" nav justify-content-center" style="margin-top:100px;">
            <div class="card border-warning mb-3 " style="max-width: 20rem;">
                <div class="card-header">
                    <h5>Upload csv file</h5>
                </div>
                <div class="card-body">
                    <form action="/" method="post" enctype="multipart/form-data">
                        <input type="file" name="csv"><br><br>
                        <div class="text-center"><button type="submit" class="btn btn-lg btn-primary">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- </br> -->
        <%if(data){%>
            <div>
                <table class="table table-hover table-responsive table-stripped  nav justify-content-center"
                    style="width: auto">
                    <thead>
                        <tr class="bg-primary">
                            <th>S.no</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile No.</th>
                            <th>Date of birth</th>
                            <th>work experience</th>
                            <th>Current Location</th>
                            <th>Current Designation</th>
                        </tr>
                    </thead>
                    <tbody style="overflow-x: scroll; height:350px;" class="table-bordered">
                        <% data.forEach(function(product,ind) { %>
                            <tr class="text-center">
                                <td>
                                    <%= ind+1%>
                                </td>
                                <td style="padding-right: 1em">
                                    <%= product.name %>
                                </td>
                                <td style="padding-left: 1em;">
                                    <%= product.email %>
                                </td>
                                <td style="padding-right:1em;padding-left:1em;">
                                    <%= product.mobile %>
                                </td>
                                <td style="padding-left: 1em">
                                    <%= product.dob %>
                                </td>
                                <td style="padding-left: 1em">
                                    <%= product.experience %>
                                </td>
                                <td style="padding-left: 1em">
                                    <%= product.location%>
                                </td>
                                <td style="padding-left: 1.2em">
                                    <%= product.currentDesignation%>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <% } %>

</body>

</html>
